# Docker Compose environment for local Leadchain development
# Cambia estas credenciales cuando quieras.

# ---------------------------------------------
# Docker Compose / Variables Globales
# ---------------------------------------------
# Puertos que se exponen en tu máquina local (host)
BACKEND_PORT=8000
FRONTEND_PORT=5173

# Variables de construcción para los Dockerfiles
REPO_REF_BACKEND=docker
REPO_REF_FRONTEND=docker


# ---------------------------------------------
# Base de Datos (Inicialización del Contenedor)
# ---------------------------------------------
# Estas variables las usa la imagen oficial de Postgres 
# ÚNICAMENTE la primera vez que se crea el volumen para configurar el usuario y la BD.
POSTGRES_VERSION=15.3
POSTGRES_DB=LeadchainDB
POSTGRES_USER=root
POSTGRES_PASSWORD=root

# Puerto interno/externo para la base de datos
DB_PORT=5432


# ---------------------------------------------
# Backend (Laravel)
# ---------------------------------------------
# Variables núcleo de Laravel
APP_ENV=production
APP_URL=http://127.0.0.1:8000
APP_DEBUG=false
APP_KEY=
JWT_SECRET=

# Credenciales para que Laravel se conecte al contenedor de la base de datos
# (Deben coincidir con las POSTGRES_* de arriba)
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_DATABASE=LeadchainDB
DB_USERNAME=root
DB_PASSWORD=root

# Seeder a ejecutar al arrancar el contenedor del backend (entrypoint.sh)
# Seeder que trae datos de todas las tablas para pruebas. Útil para presentaciones o desarrollo.
SEEDER_CLASS=DatabaseSeeder
# Seeder que solo trae 2 administradores. El resto lo creas a mano desde el panel de administración.
# SEEDER_CLASS=ProduccionSeeder


# ---------------------------------------------
# Frontend (Vite / React/Vue)
# ---------------------------------------------
# Al dejarlo como '/api', React siempre llamará al dominio actual, evitando problemas de CORS
VITE_API_BASE_URL=

# ---------------------------------------------
# Ngrok (Túnel automático)
# ---------------------------------------------
# Consigue tu token gratis registrándote en dashboard.ngrok.com
NGROK_AUTHTOKEN=3DR5P0uMbolz7RxykANkOaqDvOw_4LVV7wUJ9jyjZWkXNpAkW